@import 'variables';

.post{
  margin-top: 20px;
  h1{
    font-size: 20px;
    a{
      font-weight: bold;
      color: $darkGray;
      &:hover, &:active, &:focus{
        text-decoration: none;
      }
    }
  }
  .read-more {
    font-size: 15px;
  }
}

.entry{
  h1, h2, h3, h4{
    font-size: 16px;
  }
}
