@import "variables";
@import "monokai-highlights";

.post.block {
  padding: 30px;
  margin-top: 20px;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }
}

.post pre {
  padding: 15px 20px;
  border: 0;
  overflow-x: auto;
}

.post code, .post pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
}

.post code {
    margin-left: 3px;
    margin-right: 3px;
    word-wrap: break-word;
}

.post h1 {
  padding-bottom: 2px;
  font-size: 24px;
  border-bottom: 1px dashed #ccc;
}

.post h2 {
  margin: 40px 0 25px 0;
  font-size: 22px;
  border-bottom: 1px dashed #ccc;
}

.post h3 {
  margin: 20px 0 10px 0;
  padding-bottom: 2px;
  font-size: 16px;
  font-style: italic;
}

.post h4 {
  font-size: 16px;
  line-height: 26px;
  padding: 18px 0 4px;
  font-weight: bold;
  text-transform: uppercase;
}

.post h5 {
  font-size: 16px;
  line-height: 26px;
  padding: 14px 0 0;
  font-weight: bold;
  text-transform: uppercase;
}

.post h6 {
  color: $gray;
  font-size: 16px;
  line-height: 26px;
  padding: 18px 0 0;
  font-weight: normal;
  font-style: italic;
}

.post table {
  border-collapse: collapse;
  margin: 20px 0;
  padding: 0;
}

.post table tr th {
  font-weight: normal;
  text-align: center;
}

.post table tr th, .post table tr td {
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 14px;
}

.post table tbody tr:nth-child(2n-1) {
  background-color: #F8F8F8;
}
